/* Scss Document */

.btn{
	background-color: $white-color;
	color: $text-light;
	border:1px solid $border-light;
	font-size: $font-small;
	border-radius: 0; 
	box-shadow: none;
	text-transform: none;
	height: $btn-height;
	line-height: $btn-line-height;
	padding: 0 1rem;
	transition: 0.3s ease;
	i {
		font-size: $font-medium;
	}
	&:hover{
	background-color: $white-color;
	color: $text-light;
	border-color: $border-dark;
	box-shadow: none;
	}
	&:focus{
	background-color: $white-color;
	color: $text-light;
	border-color: $border-dark;
	}
	&:active{
	background-color: $white-color;
	color: $text-light;
	border-color: $border-dark;
	}	
	&.btn-large{
		height: 40px;
		font-size: $font-large;
		i{
			font-size: $font-large;
		}
	}
	&.btn-small{
	height: $btn-small-height;
    line-height: $btn-small-line-height;
	font-size:$font-smaller;
		i{font-size:$font-smaller;
		 line-height: 10px;
		}
	}
	&.btn-
	&.btn-icon{
		padding:0 6px!important;
	} 
	&.btn-contextual {
		@extend%primary-contextual-btn; 
	}
	&.btn-primary, &.btn-info{
		@extend%primary-btn;
	}
	&.btn-light{
		@extend%secondary-contextual-btn;
	}
	&.btn-positive{
	background-color: $positive-action;
	color:$white-color;
	border-color: $positive-action;
	}
	&.btn-error{
	background-color:$end-action;
	color:$white-color;
	border-color: $end-action;
	}
	&.btn-gmail{
	background-color:$end-action;
	color:$white-color;
	border:1px solid $end-action;
		i {
			line-height: 1.4;
			margin-right: 5px;
			}
		span {
			font-size: 0.857rem;
			line-height: 2.2;
			}
	}
	&.btn-facebook {
		background-color: #3E5B99;
		color: #fff;
		border: 1px solid #3E5B99;
		padding-left: 12px;
		padding-right: 5px;
		i {
			line-height: 1.4;
			margin-right: 5px;
			}
		span {
			font-size: 0.857rem;
			line-height: 2.2;
			}
		}
	&.btn-saml{
			background-color: #06aafc;
			color: $white-color;
			border: 1px solid #06aafc;

	}
	&.btn-end{
	background-color: $end-action;
	color:$white-color;
	border:1px solid $end-action;
	width: 49%!important;
	line-height: 1;
        span {
            font-size:$font-small;
            line-height: 1.2;
            display: block;
            font-style: normal;
            text-transform: capitalize;
         }
	}
	&.btn-active{
	background-color: $active-state-action;
	color:$white-color;
	border-color: $active-state-action;
	}
	
	&.btn-block {
    display: block;
    width: 100%!important;
	}
	&.btn-error{
	background-color:$end-action;
	color:$white-color;
	border:1px solid $end-action;
	}
	
	&:disabled, &.disabled {  		
		border-color:$text-lightest!important;
	}
	&.btn-link {
		padding: 0;
		background-color: $link-action;
		color: $primary-action;
		border: 0;
		height: auto !important;
		line-height: normal; 
		&:hover, &:active, &:focus {
			background: $link-action;
			border: 0;
			height: auto !important;
			line-height: normal;
			box-shadow: none !important;
			text-decoration: underline;
		}
	}
	.btn-transparent {
	padding: 0px;
	background-color: $link-action;
	color: $text-light;
	border: 0;
	height: auto !important;
	line-height: normal; 
		&:hover, &:active, &:focus {
		background: $link-action;
		border: 0;
		height: auto !important;
		line-height: normal;
		box-shadow: none !important; 
		}			
	}	
	.btn-floating{
		border-radius:50%!important;
	}
	&.btn-secondary {
		@extend%secondary-btn; 
	}
	&.btn-contextual-primary {
		@extend%primary-contextual-btn; 
	}
	&.btn-contextual-secondary {
		@extend%secondary-contextual-btn; 
	}
	&.btn-flat-primary {
		@extend%flat-primary-btn; 
	}
	&.btn-flat-secondary {
		@extend%flat-secondary-btn; 
	}
}

.action-row-wrap{
	padding-top: 7px!important;
	padding-bottom: 7px!important;
}
.multiple-btn{
	.btn{
		margin-left:10px;
	&:first-child{
		margin-left:0;
	}
}

}
.btn-filter {
	@extend %icon-btn;
	position: relative;
	&.active:after {
		content: "";
		border-bottom: 8px solid #fff;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		position: absolute;
		bottom: -10px;
		left: 7px;
		z-index: 991;
	}
	&.active:before {
		content: "";
		border-bottom: 8px solid #40a4dc;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		position: absolute;
		bottom: -9px;
		left: 7px;
		z-index: 99;
	}
	&.active, &.filterApplied {		
		color: #40a4dc;	
	}
}
.btn-iconbtn {
	@extend %icon-btn;
}
.ml5 {
	margin-left: 5px;
}
%icon-btn {
	width: $btn-height;
	height: $btn-height;
	line-height: $btn-line-height;
	color: $btn-secondary-color;
	border: 1px solid $btn-secondary-color;
	border-radius: $icon-btn-radius;
	text-align: center;
	padding: 0;
	i {
		line-height: $btn-line-height;
		font-size: $icon-btn-font;
		
	}
}
%small-icon-btn { 
	height: $btn-small-height;
	line-height: $btn-small-line-height;
	i {
		line-height: $btn-small-line-height;
		font-size: $icon-btn-small-font;
		
	}
}
%large-icon-btn {
	height: $btn-large-height;
	line-height: $btn-large-line-height;
	i {
		line-height: $btn-large-line-height;
		font-size: $icon-btn-large-font;
		
	}
}
%primary-btn {
	height: $btn-height;
	line-height: $btn-line-height;
	background-color: $btn-primary-color;
	color: $white-color;
	border-radius: $btn-radius;
	border-color: $btn-primary-color;
	&:hover {
		background-color: $white-color;
		color: $btn-primary-color;
	}
}
%secondary-btn {
	height: $btn-height;
	line-height: $btn-line-height;
	background-color: $btn-secondary-color;
	color: $white-color;
	border-radius: $btn-radius;
	border-color: $btn-secondary-color;
	transition: ease 0.3s all;
	&:hover {
		background-color: $white-color;
		color: $btn-secondary-color;
	}
}
%primary-contextual-btn {
	height: $btn-height;
	line-height: $btn-line-height;
	background-color: $white-color;
	color: $btn-primary-color;
	border-radius: $btn-radius;
	border-color: $btn-primary-color;
	&:hover {
		background-color: $btn-primary-color;
		color: $white-color;
	}
}
%secondary-contextual-btn {
	height: $btn-height;
	line-height: $btn-line-height;
	background-color: $white-color;
	color: $btn-secondary-color;
	border-radius: $btn-radius;
	border-color: $btn-secondary-color;
	&:hover {
		background-color: $btn-secondary-color;
		color: $white-color;
	}
}
%flat-primary-btn {
	border: none;
	height: auto;
	line-height: normal;
	padding: 0;
	color: $btn-primary-color;
	&:hover {
		color: $theme-secondary-color;  
	}
}
%flat-secondary-btn {
	border: none;
	height: auto;
	line-height: normal;
	padding: 0;
	color: $btn-secondary-color;
	transition: ease 0.3s all;
	&:hover {
		color: $text-darker;
	}
}
%small-btn {
	height: $btn-small-height;
	line-height: $btn-small-line-height;
}
%large-btn {
	height: $btn-large-height;
	line-height: $btn-large-line-height;
}
	
	


