/* Scss Document */
.modal-selection .modal-content{
	padding:0px!important;
	.selection-content{
			padding:15px 5px;
		}
	
}
.select-option{
	display:block!important;
	background-color:$white-color;
	
	.modal-header{
		padding:12px 10px;
		h2{
			margin:0px;
		}
	}
	.modal-content{
		padding:15px;
	}	
	.modal-footer{height:52px;background-color:$white-color; padding: 4px 6px;}
	.modal-close{
	margin-top: -1px;
	}
	.modal-footer.multiple-btn .btn{ 
		margin-right: 10px;
	}
	.modal-footer .btn{ 
		float:right;
		margin: 6px 0;
	}
	.select-wrapper input.select-dropdown{height: 2.7rem;}
}