/* Scss Document */
.text-info
{color:$text-info !important;}

.text-success
{color:$text-success;}
.text-positive
{color:$text-positive;}

.text-error
{color:$text-error!important;}

.text-alert
{color:$text-alert;}

.text-primary
{color:$text-primary;}

.text-white
{color:$white-color;}
.text-bold {
font-family: OpenSans-Semibold; }
.text-error-dark{color:$text-error-dark!important;}
.text-alert-dark{color:$text-alert-dark!important;}
.text-neutral-dark{color:$text-neutral-dark!important;}
.text-success-dark{color:$text-success-dark!important;}


