/* Scss Document */
.list-view{
	color: $text-light;
	font-size: $font-small;
	padding: 8px 0;
	a{
		color: $text-info;
		font-family: $font-semibold;
		float: left;
	}	
	i{
		color: $text-info;
		font-size: $font-medium;
	}
	.thumbnail {
		i{
			font-size: 1.8rem;
			color: $text-light; 
		}
	}
	div.row{
		padding: 5px 0 0;
	}
}