/* Scss Document */


	/*
Form Elements start
*/
.input-field .prefix ~ input, .input-field .prefix ~ textarea, .input-field .prefix ~ label, .input-field .prefix ~ .validate ~ label, .input-field .prefix ~ .autocomplete-content
{
	margin-left:2rem;
}

label {
    font-size: $font-small;
    color: #8e8e8e;
}


  /* label color */
   .input-field label {
     color:$text-dark;
	 font-size: $font-smaller;  
   }

.input-field label.active {
	 font-size: $font-smaller;  
   }

.input-field input:not([type]), .input-field input[type="text"], .input-field input[type="password"], .input-field input[type="email"], .input-field input[type="url"], .input-field input[type="time"], .input-field input[type="date"], .input-field input[type="datetime"], .input-field input[type="datetime-local"], .input-field input[type="tel"], .input-field input[type="number"], .input-field input[type="search"], .input-field textarea.materialize-textarea {
    height: 2rem;
	margin:8px 0px 10px;
	border-bottom:1px solid $border-light;
	font-size:$font-small;
	&:required + label {
		width: auto;
		padding-right: 10px;
			&:before {
			content: "*";
			position: absolute;
			top: -1px;
			right: 0;
			width: 10px;
			height: 10px;
			text-align: center;
		}
	}
   }
.input-field textarea.materialize-textarea {
	min-height: 2rem;
}
   /* label focus color */
   .input-field input[type=text]:focus + label ,.input-field input[type="password"]:focus + label{
     color:$text-light;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus,.input-field input[type=password]:focus,.input-field textarea:focus,
input:focus:not([type]):not([readonly]), input[type="text"]:focus:not([readonly]), input[type="password"]:focus:not([readonly]), input[type="email"]:focus:not([readonly]), input[type="url"]:focus:not([readonly]), input[type="time"]:focus:not([readonly]), input[type="date"]:focus:not([readonly]), input[type="datetime"]:focus:not([readonly]), input[type="datetime-local"]:focus:not([readonly]), input[type="tel"]:focus:not([readonly]), input[type="number"]:focus:not([readonly]), input[type="search"]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
     border-bottom: 1px solid $border-active;
     box-shadow: none;
   }
input:focus:not([type]):not([readonly]) + label, input[type="text"]:focus:not([readonly]) + label, input[type="password"]:focus:not([readonly]) + label, input[type="email"]:focus:not([readonly]) + label, input[type="url"]:focus:not([readonly]) + label, input[type="time"]:focus:not([readonly]) + label, input[type="date"]:focus:not([readonly]) + label, input[type="datetime"]:focus:not([readonly]) + label, input[type="datetime-local"]:focus:not([readonly]) + label, input[type="tel"]:focus:not([readonly]) + label, input[type="number"]:focus:not([readonly]) + label, input[type="search"]:focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label{
	color: $text-dark;
}
textarea.materialize-textarea:disabled{
	
	
}
textarea.materialize-textarea { 
	padding: 5px 0;
}
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid $state-positive;
    box-shadow: none;
   }
   /* invalid color */
   .input-field input[type=text].invalid,.input-field input[type=password].invalid {
     border-bottom: 1px solid $state-error;
    box-shadow: none;
   }
   /* icon prefix focus color */
   .input-field .prefix {
  color:$text-lighter;
    font-size:$font-large;
    line-height: 2;
	 
   }
.input-field .prefix.active {
 color:$text-lighter;
     font-size:$font-large;
    line-height: 2;
	 
   }
        
.select-wrapper {
	input.select-dropdown{
	height:2rem;
	margin-bottom:10px;
	margin-top:8px;
	font-size:$font-small;
	display: inline-block;}
	.dropdown-content{
		width: 100%;
		li {
			min-height: 30px;
			> a, > span {
				line-height: 30px;
			}
		}
	}
}
.dropdown-content li{
		min-height:20px;
			> a, > span{
				color: $text-light;
				font-size: $font-small;
				padding:0 2.5%;
			
	}
		a i {
			margin-right: 5px;
			color: $text-light;
		}
} 


.select-wrapper span.caret {
	font:normal normal normal 14px/1 'Material-Design-Iconic-Font';
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	color: transparent;
	&:after {
		content: "\f2f9";
		width: 11px;
		height: 10px;
		position: absolute;
		top:0;
		left: 0;
		font-size: 18px;
		color: #808080;
		line-height: 12px;
	}
	&.disabled {
		color: transparent;
		&:after {
			color: rgba(0, 0, 0, 0.15);
		}
	}
	
}
.input-box-style{
	input {
	border: 1px solid $border-light !important;
	border-radius: 2px !important;
	height: 28px !important;
	font-size: 0.85rem !important;
	margin-bottom: 0 !important;
	margin-top: 0 !important;
	
	&:focus{ box-shadow: none !important;}
		}
	&--big {
	  input {
		height: 32px!important;
		}
	}
}
.input-box-style{
	.select-wrapper span.caret:before {
		content: "";
		height: 27px;
		width: 1px;
		background: $border-lighter;
		position: absolute;
		left: -10px;
		top: -9px;
	} 
	&--big {
		.select-wrapper span.caret:before {
			height: 30px;
			top: -10px;
		}
	}
}

/* Checkbox & Radio */
[type="radio"]:not(:checked) + label, [type="radio"]:checked + label{
	padding-left: 24px;
	font-size: 0.85rem;
}
[type="radio"] + label::before, [type="radio"] + label::after {
  	height: 16px;
  	width: 16px;
	top: 1px;
}
[type="radio"]:not(:checked) + label::before, [type="radio"]:not(:checked) + label::after {
  	border: 1px solid $border-light;
}
input[type="radio"].with-gap:checked + label:before {
	border-color: $text-info;
	border-width: 1px;
	}
[type="radio"]:checked + label::after, 
.with-gap[type="radio"]:checked + label::after {
	background-color: $text-info;
	border-color: $text-info;
	}
input[type="radio"].with-gap:checked + label:after{
		transform: scale(0.6);
	}
/*
	Checkbox Style
*/
[type="checkbox"] {
		+ label {
				font-size: 0.857rem;
				color: #333;
				padding-left: 24px;
				height: 18px;
				line-height: 18px;
				margin-top: 4px;
				width: 100%;
			}
	&:not(:checked) {
		+ label:before {
			width: 16px;
			height: 16px;
			border: 1px solid #ccc;
			top:0px;
		}
	}
	&:checked {
		+ label:before {
			width: 9px;
			height: 18px;
			border-right: 2px solid #40a4dc;
			border-bottom: 2px solid #40a4dc;
		}
	}
	&.filled-in {
		+ label {
			font-size: 0.857rem;
			color: #333;
			padding-left: 24px;
			height: 18px;
			line-height: 16px;
			margin-top: 4px;
			width: 100%;
		}
		&:not(:checked){
			+ label {
				&:before {
					left: 3px;
					top: 5px;
				}
				&:after {
					width: 16px;
					height: 16px;
					border: 1px solid #ccc;
					top:0px;
				}
			}
		}
		&:checked {
			+ label {
				&:before {	
					left: 0px;
					width: 7px;
					height: 12px;
				}
				&:after {
					width: 16px;
					height: 16px;
					top:0px;
					border: 1px solid #40a4dc;
					background-color: #40a4dc;
				}
			}
		}
		&.tabbed:checked:focus + label:after {
			border: 1px solid #40a4dc;
			background-color: #40a4dc;
		}
	}
}
/*
	Checkbox Style End
*/
/*
Form Elements ends
*/

	


