/* Header Scss Document */

header {
	nav {
    background-color: $header-bg;
	box-shadow: none;
		ul{ a{
			font-size:$font-small;
			}
		a:hover {
		background-color:lighten($header-active-link, 15%);}
		a:active,a.active {
			background-color:$header-active-link;}
		li.active{
			background-color: rgba(0, 0, 0, 0.4);
		}
}
	ul.dropdown-content  a{
	color:$text-dark;
	font-size:$font-small;
		padding:3px 2.5%; 
}
	ul.dropdown-content a:hover{
	background-color:$bg-light;
}
	
	ul.dropdown-content a.disabled:hover{
			background-color:$bg-dark!important;
			opacity:0.5;
			cursor:auto!important;}
	.dropdown-button{
		padding:0px 10px;
		background-color:$transparent;
		color:$white-color;
		border:$transparent;
			&:hover{
				border:$transparent;
				background-color:$transparent;
				box-shadow:none!important;
				color:$white-color;
			}
			i{
				height:37px;
				line-height:42px;}	
			}
	.btn{
	background-color:$header-bg;
	line-height:36px;
	height:36px;
	border-radius:0px;
	font-size:$font-small;
	@include tablet
		{padding:0px;}
	
	@include headerlandscape
		{padding:0px;}	
	&:hover{
		
		border:0px;
		
	}
	&:active{
		border:0px;
		color: $white-color;
	}
	&:focus{
		border:0px;
		background-color: $header-bg;
		color: $white-color;
		
	}
	}
	
	
	
}
	.nav-wrapper .setting-options-wrap ul li:last-child{
        float:right;
    }
.notification-button{
i{
	margin-right:3px;
	line-height:38px!important;
	
}
span{
    border-radius: 15px;
    padding:0!important;
    min-width: 2rem;
	margin-left:0px!important;
	margin-right:0px;
	margin-top:8px!important;
	height: 18px;
    line-height: 16px;


}
}

.show_status{
	width:10px;
	height:10px!important;
	border-radius:50% 50%;
	line-height: 10px!important;
	margin-top:15px!important;
	margin-right:7px!important;
	&.state-positive{
		background-color:$on-mode-color;
	}
}
.notify-content{
	max-height:300px;
	overflow-y: auto;
	background-color:#fff;
	box-shadow: 0 5px 7px rgba(0, 0, 0, 0.5);	
	left:-100%!important;
	width:360px!important;
	border-bottom: 1px solid #ccc!important;	
	li{
		min-height: 45px;
		border-bottom: 1px solid $border-light;
		padding: 15px 5px;
		white-space: normal;
		&:last-child {
			border-bottom-width: 0px;
		}
		&.unread {
			background-color: $bg-light;
			font-family: $font-default;
		}
	}
	span{
		display:block;
		font-size:$font-small;
	}
	.call-status{color: #000000;}
	.action-area span{font-size:$font-large;line-height:40px;height:40px;}
	 i{
         font-size: 1.2rem!important;
      }
	.notification-heading {
		  position: relative;
		  margin-bottom:3px;
		.icon-container {
			width: 20px;
			height: 20px;
			border-radius: 9px;
			background-color: #35b55a;
			color: #fff;			
			text-align: center;
			margin-right: 6px;
			i {
				line-height: 20px !important;
				font-size: $font-medium!important;
			}
			&.alert{
				background-color: #f7923c;
			}
			&.danger{
				background-color: $text-error-dark;
			}
		}
		h4{
			font-size: $font-medium;
			color: $text-info;
			margin: 4px 10px 4px 0;
			line-height: 1.2;
			float: left;
				max-width: 90px;
				text-overflow: ellipsis;
				overflow: hidden;
				display: block;
		}
		.date-time{
			float: right;
			margin-top: 0;
			span {
				font-size: $font-smaller;
				color: $text-lighter;
			}
		}
		.notification-close-btn {
			position: absolute;
			right: 0;
			top: -12px;
			background-color: transparent;
			i{
				line-height: 1!important;
			}
		}
		.chip {
			border-radius: 0;
			height: 20px;
			line-height: 20px;
			margin-bottom: 0;
			padding: 0 12px!important;
			background-color: #a7e4f2!important;
			span {
				float: left;
				max-width: 48px;
				text-overflow: ellipsis;
				overflow: hidden;
				display: block;
				
			}
		}
	}
	.notification-msg {
		p{
			font-size: $font-small;
			color: $text-dark;
			line-height: 1.2;
			margin: 0;
			
			
		}
	}
}
.notify-wrap
{
	position:relative;
}
.available-dropdown{
	min-width:140px;
}

nav {
    .brand-logo {
        position: relative!important;
        line-height: 25px;
        left: auto;
        right: auto;
        padding-right: 10px!important;
		padding-left:0px!important;
        img {
            max-height: 32px;
    		padding-top: 7px;
			max-width: 100px;
        }
    }
	.switch 
	{
	label{
		@include tablet
		{
			font-size:$font-smaller;}
		}
		label .lever{margin:0px 10px;}
		
		span.lever{
			@include tablet
			{
				height:10px}
			}
		span.lever::after{
			@include tablet
			{
				height:14px;width:14px;}
		}
	}
.switch-mode {	
.switch label input[type="checkbox"]:checked + .lever
		{
			background-color: lighten($switch-mode-active, 4%);
		}
		.switch label input[type="checkbox"]:checked + .lever::after
		{
			background-color: darken($switch-mode-active, 5%);
		}
		label{@include tablet
		{font-size:$font-smaller;}
		}
		label .lever{margin:0px 10px;}
		
		span.lever{
			height: 10px;
			@include tablet
			{height:10px}
			}
		span.lever::after{
			@include tablet
			{height:14px;width:14px;}
		}
		.switch label .lever::after{
			top:-3px;
		}
		.dropdown-content{
			min-width:140px;
			li{
			padding-left:5px;
			padding-right:5px;
				span.lever{
					float: right;
					margin-top:7px;
				}
			}
		}
		border-radius: 5px;
		min-width:108px;
		.dropdown-button{
				min-width:135px;
				 height: 38px;
   				line-height: 38px;
				margin:0px;
					i{
						width:17px;
						line-height:1;
						margin:0px 0px 0px 5px;
						line-height: 42px !important;
					}
		}
		
	/*span{
		font-size:$font-small;
		line-height: 18px;
		margin-right:5px;
		@include tablet
		{font-size:$font-smaller;}
		}*/
		
		.switch-mode-option.btn{
			line-height: 20px!important;
			border-radius:10px;
			margin-left:5px;
			padding:0 6%!important;
			 margin-top: 9px;
			i
			{
				font-size:$font-small!important;
				height:18px;
				line-height:17px!important;
				margin:0px 0px 0px 5px!important;
				display: block;
				&:first-child{
					margin-left:0px!important;
					margin-right:0px!important;
				}
				
			}
			&.active{
				background-color:$switch-mode-active;
				color:$white-color;
				border:1px solid $positive-action;
				&:hover{
					border:1px solid $positive-action;
				}
			}
			&.inactive{
				background-color:$text-lighter;
				color:$white-color;
				border:1px solid $text-lighter;
				&:hover{
					border:1px solid $text-lighter;
				}
			}
			&:first-child{
				margin-left:0px;
			}
			
		}
	}
	
	@media (min-width: 1024px) and (max-width: 1280px)
		{header{
			nav{
				.switch-mode 
					{	
						min-width: 140px!important;
						span{font-size:11px;}
						button.btn{
							padding:0 2%!important;
						}

					}
				}
			} 

		}
	.notify-wrap i
	{
		@include tablet
		{width:12px;}
		
		
	}
	.setting-wrap a{
		@include tablet
		{font-size:$font-smaller;}
	}
	
	.user-settings {
		width:30%;
	i
	{
		@include tablet
		{width:10px;margin:0px;}
	}
		
	}
	.user-settings a
	{
		@include tablet
		{font-size:$font-smaller;}
	}
	.user-availability{
		a.dropdown-button{
                    max-width:175px;
                    margin-left:0px;
                    margin-right:0px;
                    span{
                        display:block;
                        overflow:hidden;
                        text-overflow: ellipsis;
                        width:100px;
                        float:left;
                         white-space: nowrap;
                }
                i.right{margin:0px;}
        }
		i
		{
			@include tablet
			{
				width:10px;margin:0px;
			}
		}
		a{
			@include tablet
		{font-size:$font-smaller;}
		}
		.dropdown-content a
		{
			@include tablet
			{font-size:$font-smaller;}
		}
		.btn.disabled{
			background-color: transparent!important;
		}
	}
	.wrap_level_one
	{
		@include tablet
		{padding:0px!important;}
	}
	.wrap_level_two
	{
		@include tablet
		{padding:0px!important;}
	}
	.wrap_level_one
	{
		padding:0px!important;
	}
	.setting-wrap{
		position:relative;
			width:110px;
		a.dropdown-button{ 
			width:110px;
			margin:0px;
			span{
				 display:block;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				width:70px;
				margin-right:0px;
				text-align:right;
				float: left;
				 }
			i{
				margin-right: 2px !important;
			  margin-left: 0px !important; 
			  width:15px;
			}
		}
		a{
		@include tablet
		{font-size:$font-smaller;}
		}
		a i{
		@include tablet
		{margin-right:5px!important;
		margin-left:0px!important;
		}
			
			
		}
		.dropdown-content{
			min-width:170px;
			a{
				@include tablet
				{
					font-size:$font-smaller;
				}
			}
			
		}
		
	}
	
	
}
i.left{margin-right:5px!important;}	
	
}
span.badge {
    background-color: $state-error;
    border-radius: 2px;
    color: $white-color;
    font-size:$font-smaller;
    font-weight: $font-light;
	
	
}
nav ul.growl  a i{
	font-size:$font-medium;
	display: inline-block;
	margin-left:0px;
}
.loggedin-Campaign{
	min-width: 105px;
	margin-right: 10px;
	position: relative;
	.dropdown-button{
		font-size: $font-small;
		float: left;
		width: 100%;
		.truncate{
			float:left;
			max-width: 95px;
		}
		i{
			margin-left: 5px;
			font-size: $font-large;
		}
	}	
	.dropdown-campaign {
		  background-clip: padding-box;
		  background-color: #fff;
		  border: 1px solid rgba(0, 0, 0, 0.15);
		  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
		  display: none;
		  float: left;
		  font-size: 14px;
		  left: 0;
		  list-style: outside none none;
		  padding-bottom: 10px;
		  position: absolute;
		  text-align: left;
		  top: 38px;
		  z-index: 1000;
				&.three-column{
					width: 455px;
					.column{
						width: 33%;
					}
				}
				&.two-column{
					width: 355px;
					.column{
						width: 50%;
					}
				}
				&.one-column{
					width: 195px;
					.column{
						width: 100%;
					}
				}
				&:before{
				 	content: "";
				 	border-bottom: 10px solid $bg-light;
					border-left: 10px solid rgba(0, 0, 0, 0);
					border-right: 10px solid rgba(0, 0, 0, 0);
					position: absolute;
					top: -10px;
					left: 7%;
				}
				.top-header {
					background-color: $bg-light;
				}
		
		h4 {
			font-family: $font-semibold;
			font-size: $font-small;
			line-height: 1;
			pointer-events: none;
			margin-bottom: 5px;
			text-transform: capitalize;
		}
		.column{	
			float: left;
			padding-left: 15px;
			max-height: 250px;
			color: $text-dark;
						&:last-child{
							padding-right: 10px;
						}
			ul{
				li {
					cursor: default;
					display: block;
					float: none;
					line-height: 1;
					padding: 7px 0 7px 3px;
					font-size: $font-small;
					color: $text-light;
					&:hover{
						background-color: $white-color;
					}
				}
		}
		.truncate{
			max-width: 100%;
		}		
		}
		button.btn-transparent{
				background-color: transparent;
				line-height: 22px;
				color: $text-light;
			i{
				float:left;
				height: auto !important;
				line-height: normal;
				margin-right: 5px;
			}
			&:hover{
				color: $text-dark;
			}
			&:active{
				color: $text-light;
			}
		}
	}
	.campaign-type-heading {
		font-family: $font-semibold;
		background: $bg-dark;
	}
}
/*
materialize customised ends here

*/
body {
    background-color: $white-color;
    font-family: $font-default;
    line-height: 1;
 
}

.login-bg{
background-image: url(../images/login_bg.jpg);
background-position: left top;
background-repeat: no-repeat;
background-size: cover;
	h1{
		margin:0px;
	}
	
	.language-selector{
		position: absolute;
    right: 36px;
    top: 10px;
		
	input.select-dropdown{
		border-bottom:1px solid $white-color;
		color:$white-color;
	}
	.select-wrapper span.caret{color:$white-color;}
	}
	
}

h1 {
   font-size: 1.2rem;
font-family: $font-semibold;
}
h2 {
   font-size: 1rem;
font-family: $font-semibold;
}
h3 {
   font-size: 0.9rem;
font-family: $font-semibold;
}
h4 {
    font-size: 0.85rem;
}
h5 {
    font-size: 0.8rem;
}
h6 {
    font-size: 0.75rem;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
html {
    font-size: 14px;
}
.row {
    margin-bottom: 0px;
}
.no-margin {
    margin: 0px!important;
}
.divider{ background-color:$text-lightest;}
.error-msg{display: inline-block;
    font-size: font-smaller;
    margin: 0 0 8px;}

i.left{margin-right:5px!important;}
@media only screen and (min-width: 601px) {
    nav,
    nav .nav-wrapper i,
    nav a.button-collapse,
    nav a.button-collapse i {
        height: 38px;
        line-height: 38px;
    }
    .navbar-fixed {
        height:38px;
    }
}
a.disabled,a.disabled:hover
{
	border-color:$text-lightest!important;
	background-color:$bg-dark!important;
	cursor:auto;
	-webkit-transition-property: none!important;
-moz-transition-property: none!important;
-o-transition-property: none!important;
transition-property: none!important;
	opacity:0.5;
}

.date-range-wrapper{
	span{font-size:$font-small;
		line-height: 2;
	color:$font-light;}
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $text-light;
}
::-moz-placeholder { /* Firefox 19+ */
  color:$text-light;
}
:-ms-input-placeholder { /* IE 10+ */
  color:$text-light;
}
:-moz-placeholder { /* Firefox 18- */
  color:$text-light;
}
.ml0 {margin-left: 0px !important; }

