/* Scss Document */
@import "style-components/customerList";
@import "style-components/customerSearchCard";
html, body,header, .navbar-fixed, .navbar-fixed nav {
	min-width: 1023px;
}
.mt68 {
	margin-top: 68px;
}
.mt25 {
	margin-top: 25px;
}
.create-Interaction {	
	.btn-info{
		padding: 0 12px;
		background-color: $text-info;
		border-color: $text-info;
		height: 26px;
		line-height: 18px;
		margin-top: 4px;
	}
}
.sub-heading-row {
	padding-right: 30px;
	background-color: $bg-light;	
}
.pagination {
	.page-caunter {
		border:1px solid $border-dark;
		height: 28px;
		line-height: 28px;
		float: left;
		padding: 0 10px;
		color: $text-light;
		font-size: $font-smaller;
	}
	.btn-left-page, .btn-right-page {
		@extend %icon-btn;
		float: left;
	} 
}
.input-box-style .select-wrapper {
	input.select-dropdown {
		padding: 0 25px 0 8px;
		box-sizing: border-box;
	}
	.select-dropdown {
		width: 100%;
	}
	span.caret {
		right: 5px;
	}
}
.input-field.inline {
	margin-left: 5px!important;
}
.interactions-list {
	[type="checkbox"] + label {
		height: 16px;
		line-height: 16px;
		display: block;
		padding-left: 16px;
		margin: 0 auto;
		width: 16px;
	}
}
.interactions-list__heading {
	background-color: #f6fbff;
	font-size: $font-smaller;
	color: $text-darker;
	border: 1px solid #e1e1e1;
	text-align: center;
	position: relative;
	.interactions-list__heading--col, 
	.interactions-list__heading--leftmost-col, 
	.interactions-list__heading--rightmost-col {
							padding: 8px 5px!important;
							line-height: 18px;
							border-left: 1px solid #e1e1e1;
							span {
								float: left;
								width: 100%;
								text-overflow: ellipsis;
								overflow: hidden;
								white-space: nowrap;
							}
		}
	.interactions-list__heading--leftmost-col {
		border-left: none;
	} 
	.multiple-action-row {
			background-color: #f6fbff;
			position: absolute;
			top: 0;
			left: 37px;
			right: 0;
			z-index: 9;
			height: 34px;
				.btn{
					border-radius: 0;
					border-right: 1px solid $border-light;
					line-height: 12px;
					margin: 11px 0 10px;
					padding: 0 10px;
					color: $text-light;
					float: left;
					&:hover{
						border-right: 1px solid #999;
						line-height: 12px;
						color: $text-darker;
					}
					&:last-child{
						border-right-width:0;
					}
					&.disabled {
						background: transparent!important;
					}
				}
			&.hide_bar{
				display: none;
			}
			&.show_bar{
				display: block;
			}
		}
}
.interactions-list__select-all, 
	.interaction__selection {
						width: 36px;
	}
.interactions-list__status-col, 
.interaction__status {
					width: 60%;
					width: calc(100%-36px);
		
	}
.ptb10 {
	padding-top: 10px!important;
	padding-bottom: 10px!important;
}
.pr0 {
	padding-right: 0!important;
}
.border-left {
	border-left: 1px solid #e1e1e1;
}
.interaction {
	font-size: $font-smaller;
	color: $text-black;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid $border-lighter;
	border-left: 1px solid $border-lighter;
	border-right: 1px solid $border-lighter;
		.conversation, 
		.interaction__media, 
		.interaction__custom-field,  
		.interaction__agent, 
		.interaction__queue, 
		.dateTime{
			padding: 0 5px!important;
		}
}
.interaction__custom-field{
					span {
						float: left;
						width: 100%;
						text-overflow: ellipsis;
						overflow: hidden;
						white-space: nowrap;
						line-height: 20px;
						text-align: center;
					}
}
.interaction__media{
	ul {
		margin: 0;
		float: left;
		width: 100%;
		text-align: center;
		li {
			text-align: center;
			width: 23%;		
			color: $text-light;
			padding-top: 5px;
			display: inline-block;
			@include smalldesktop {
				width: 22%;
			}
			i{
				font-size: $font-medium;
			}
			span {
				display: block;
				font-size: $font-small;
				overflow: hidden;
				text-overflow: clip;
				white-space: nowrap;
			}
		}		
	}
}
.filter-row {
	padding: 7px 0;
	position: relative;
}
.filter-options-dropdown {
	position: absolute;
	top: 45px;
	right: 152px;
	width: 700px;
	border: 1px solid #40a4dc;
	background-color: #fff;
	z-index: 9;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
	padding: 5px 0;
	h2 {
		margin: 5px 0;
		font-size: $font-small;
		
	}
	[type="checkbox"] + label {
		color: #4a4a4a;
		height: 16px;
		line-height: 16px;
	}
	ul {
		margin: 0;
		li {
		padding: 3px 0;
	}
	}
	.row .col {
		padding: 0 0.357rem;
	}
	.btn {
		font-family: $font-semibold;
	}
	@include smalldesktop {
		right: 22px;
	}
}
.sorting-dropdown {
	.select-wrapper {
		.select-dropdown {
			margin: 0;
			font-family: $font-default;
			color: $text-dark;
		}
	}
}
.overlay-for-filter {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
}
.interaction__status {
			padding-top: 5px;
			.status {
				border: 1px solid $border-lighter;
				padding: 3px 5px;
				width: 45px;
				border-radius: 3px;
				text-align: center;
				display: block;
				margin: 0 auto;
				&.new {
				color: #11569c;
				border-color: #11569c;
				background-color: #fff;
				}
				&.open {
					color: #7bbe31;
					border-color: #7bbe31;
					background-color: #fff;
				}
				&.close {
					color: #ff5555;
					border-color: #ff5555;
				}
			}
			
}
.interaction__selection{
	padding-top: 6px;
}


.conversation__subject{
				font-size: $font-small;
				font-family: $font-semibold;
				a, span {
					float: left;
					width: 100%;
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
					line-height: 20px;
					color: $text-black;
				}
}
.conversation__customer{
					font-size: $font-small;
					color: #40a4dc;
					line-height: 14px;
					float: left;
					max-width: 50%;
					padding-right: 10px;
					box-sizing: border-box;
					i {
						font-size: 14px;
					}
	a { 
		float: left;
	span {
		float: left;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		max-width: 87%;
		@include smalldesktop {
			max-width: 77%;
		}
	}
		}
}
.interaction__lastUpdated {
	color: $text-light;
	font-style: italic;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	line-height: 14px;
	padding-top: 1px!important;
	.date {
		border-right: 1px solid $text-light;
		padding-right: 5px;
		margin-right: 5px;
		line-height: 10px!important;
		display: inline-block;
	}
	.time {
		padding-right: 5px;		
		line-height: 10px;
	}
}
.dateTime, 
.interaction__agent, 
.interaction__queue {
				color: $text-light;
				text-align: center;
				span {
					float: left;
					width: 100%;
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
					line-height: 20px;
				}
}
.dateTime .dateTime__time{
	line-height: 12px;
}

.search-wrapper {
	position: relative;
	.search {
	position: absolute;
	right: 0;
	top: 30px;
	width: 200px;
	z-index: 9;
	}
}
.search {
	background: #fff;
	position: relative;
	input[type="text"] {
		padding-right: 20px;
		padding-left: 10px;
		box-sizing: border-box;
	}
	.btn-transparent {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 5px;
		color: $text-light;
	}
}
.datepicker {
	input[type="text"] {
		background-image:url(../images/calendar.png);
		background-repeat: no-repeat;
		padding-left: 20px;
		background-position: left center;
		box-sizing: border-box;
		font-size: $font-smaller!important;
		font-family: $font-default!important;
	}
	label {
		transform: translateY(-140%);
	}
}

/**
*
* Ticket Detail Page
*/
.customer-info {
				background-color: lighten($bg-light, 3%);
				padding-top: 15px;
				padding-bottom: 15px;
				h2{
					margin: 0;
					color: $text-info;
				}
				a{
					color: $text-info;
				}
			}
			.info-label {
				color: $text-light;
				margin-bottom: 10px;
				display: block;
				i {
				font-size: $font-medium;
				line-height: 11px;
				display: inline-block;
				color: $text-alert;
				}
			}
.interaction-id {
	font-size: $font-small;
	color: $text-dark;
	padding-top:10px !important;
	padding-bottom:10px !important;
	span{
		float: left;
		margin-right: 10px;
		line-height: 16px;
	}
}
select.browser-default {
	height: 2rem;
	margin: 23px 0px 10px;
	border-color: #ccc;
	border-width: 0 0 1px 0;
	border-style: solid;
	font-size: 0.857rem;
 +label {
	top: -10px;
	}
&:focus {
	outline: none;
	}
}
.row > div.row-divider {
    padding: 5px 0;
    border-bottom: 1px solid #d8d8d8;
}

.row-space-top{
	margin-top: 15px!important;
}
.row-space-bottom{
	margin-bottom: 15px!important;
}
.collapsible {
	box-shadow: none;
	border-left-width: 0px;
	border-right-width: 0px;
	margin: 0;
	.collapsible-header {
			padding: 7px 10px;
			min-height: 40px;
			line-height: 26px;
		span {
			line-height: 26px;			
			}
		i {
			width: auto;
			line-height: 26px;
			font-size: $font-icon-medium;
			margin: 0;
		}
	}
}
.collapsible-body {
	font-size: $font-small;
	color: $text-dark;
}
.ticket-detail {
	.ticket-sla {
	margin-top:8px;
	}
}
.ticket-listing, 
.tab-content-scroll {
    overflow: auto;
}
.ticket-detail__conversation-list {
		padding-right: 1px;
.ticket-conversation {
		background-color: $bg-light;
		font-size: $font-smaller;
		color: $text-light;
		line-height: 16px;
		padding: 0;
		min-height: 1rem;
		span {
			line-height: 16px;
		}
		i{
		 color: $text-light;
		 font-size: $font-small; 
		 margin-right: 8px;
		 line-height: 16px;
		 width: 16px;
		 text-align: center;
		}
	button {
		i{
		 float:left;
		}
	}
	.filtermessages1 {
		line-height: 18px;
		i {
			margin: 4px 0 0 5px;
		}
	}
	.reply-dropdown {		
			i {
			   margin-right: 13px;
			   padding-top: 0px;
			   color: #1565c0;
			   font-size: 22px;
			   line-height: 18px;}
	}
	&.collapsible-header{
		border-bottom: none;
		&:hover{
		background: $white-color;}
		&.active{
		background: $white-color;	
		
			.row-divider {
				border-bottom-color:$white-color; 
			}
		}
	}
	.attched-file {
		width:57%;
		float: left;
		i{
			float: none;
			display: inline-block;
			width: auto;
			line-height: 17px;
		}
	}
	.more-attchment-btn{
		width:38%;
		float: left;
		background-color: #666;
		color: #fff;
		border-radius: 3px;
		margin-left: 3px;
		padding-left: 3px;
	}
	.attched-files{
				display: block;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				i{
				float: none;
				display: inline-block;
				width: auto;
				line-height: 17px;
			}
		}
	
	.more-attched-files{
		&.dropdown-content{
			width: 250px!important;
		}		
		li{
			line-height: 28px;
			border-bottom: 1px solid lighten($border-light, 10);			 
			&:last-child {
				border-bottom: 0px solid $border-light;
			}
			.download-row a {
				padding-left: 8px;
			}
		}				
	}
	.download-row {
			button i{
				color: $text-info;
				font-size: 1.2rem;
			}
			&.download-error {			
				a {
					color: $text-error;
				}
				i {
					line-height: 28px;
					color: $text-error;
					font-size: 1.2rem;
				}
			}
			a{
				display: block;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				
				i{
				float: none;
				display: inline-block;
				width: auto;
				line-height: 17px;
			}
			}
			.spinner {
			  margin: 0 auto;
			  width: 30px;
			}
			.spinner > div {
			  width: 6px;
			  height: 6px;

			}
		}
	}
	.note-type-icon {
	i {
		font-size: $font-medium;
		color: $text-alert;
	}
	.label {
		color: $text-dark;
		padding: 0;
	}
}
	.collapsible-body {
		border-bottom-style: dashed;
	}
}
.ticket-conversation__agent-name, .ticket-conversation__customer-name {
	font-family: $font-semibold; 
	margin-right: 5px;
}
.ticket-conversation__customer-name {
	
}
.interaction-action {
	margin: -10px -12px -10px 10px;
	padding: 10px 3px;	
	i {
		margin-right:0;
		}
	}	

.ticket-conversation {
	i.mdi-exclamation {
			width: 0.8rem;
			font-size: 22px;
			line-height: 0.8;
			visibility: hidden;
			color: #c1272d;
		&.show-exclamation {
			visibility: visible;
		}
	}	
}
.top-ticket-info {
	padding: 7px 0;
	.status {
		font-size: $font-smaller;
	}
	.conversation__subject {
		float: left;
		padding-right: 10px;
		max-width: 85%;
		height: 2rem;
		line-height: 2rem;
		width: 85%;
		position: relative;
		> button {
			position: absolute;
			top:-1px;
			right: 5px;
			width: 25px;
			line-height: 2rem;
			z-index: 9;
			background: #fff;
			opacity: 0;
		}
		&:hover {
			> button {
				opacity: 1;
			}
		}
		span {
			line-height: 2rem;
			width: 100%;
			cursor: text;
			&:hover {
				border-bottom: 1px solid $border-light;				
			}
		}
		input[type="text"] {
			margin-top: 0;
		}
	}
	.interaction__status {
		float: left;
		width: auto;
		padding-top: 4px;
	}
}
.top-ticket-info__subject {
	font-family: $font-semibold;
	font-size: $font-small;
	color: $text-black;
	line-height: 16px;
	span {
		line-height: 16px;
		display: block;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
}
.top-ticket-info__action {
	margin-top: 3px;
	a {
		font-size: $font-small;
		margin-left: 10px;
		color: #777;
		float: right;
		line-height: 20px;
		i {
			 float: left;
			margin-right: 3px;
			line-height: 20px;
		}
		span {
			float: left;
		}
	}
}
.label-value-pair {
		font-size: $font-small;
		line-height: 16px;
		float: left;
		width: 33%;
		padding-right: 20px;
		box-sizing: border-box;
	.label-value-pair__label {
		float: left;
		font-family: $font-semibold;
		color: $text-black;
		margin-right: 5px;
		text-overflow: ellipsis;		
		white-space: nowrap;
		overflow: hidden;
		max-width: 30%;
	}
	.label-value-pair__value {
		color: $text-light;
		float: left;		
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
			max-width: 70%;
	}
}
.existing-customer-search, .existing-user-search {
	width: 100%;
	border: 1px solid #979797;
	margin: 10px 0;
	input[type="text"] {
		margin: 0;
		border-bottom-color: #979797;
	}
	.existing-customer-search__result, .existing-user-search__result {
		min-height: 171px;
		h4 {
			margin: 0;
			font-style: italic;
			font-size: $font-smaller;
			padding: 5px;
		}
	}
	.existing-customer-search__create-new-customer {
		text-align: center;
		padding: 0;
		border-top: 1px solid #979797;
		.btn {
			border: none;
			height: 28px;
			line-height: 28px;
			width: 100%;
			color: $text-info;
			&:hover {
				box-shadow: none;
				color: darken($text-info, 10);
			}
		}
	}
}
.existing-user-search {
	margin: 0;	
}
.existing-user-search__result {
	ul {
		margin: 0;
		max-height: 180px;
		overflow: auto;
		li {
			a {
				font-size: $font-smaller;
				color: $text-dark;
				padding: 5px 10px;
				display: block;
				&:hover {
					background: $bg-light;
				}
			}
		}
	}
}
.customer-card {
	border: 1px solid #d8d8d8;
	border-radius: 3px;
	margin: 5px 2%;
	width: 96%;
	
}
.customer-card__header {
	background-color: #eeeded;	
	border-radius: 3px 3px 0 0;
	padding: 4px;
	h5 {
		font-size: $font-small;
		color: $text-black;
		margin: 0;
		line-height: 16px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}	
	[type="radio"]:not(:checked) + label, 
	[type="radio"]:checked + label {
		height: 12px;
		line-height: 12px;
	}
	[type="radio"] + label::before, 
	[type="radio"] + label::after {
		top: 0;
		margin: 2px;
	}
}
.customer-card__action-btn {
	text-align: right;
	a {
		margin: 0 2px;
		i {
			font-size: $font-small;
			color: #4a4a4a;
		}
		&:hover {
			i{
				color: $text-info;
			}
		}
	}
}
p {
	margin: 5px 0;
}
.customer-card__info {
	min-height: 50px;
	ul {
		margin: 0;
		padding: 2px;
		width: 100%;
		float: left;
		li {
			float: left;
			width: 50%;
			margin: 2px 0;
			padding: 2px 4px;
			i {
				color: $text-light;
				margin-right: 2px;
				font-size: $font-smaller;
				float: left;
				line-height: 14px;
			}
			span, a {
				font-size: $font-smaller;
				color: $text-light;
				float: left;
				line-height: 14px;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}
			&.active {
				background: #e8f6fe;
			}
		}
	}
}
.load-more {
	padding-top:10px!important;
	padding-bottom:20px!important;
	
	.btn-loadMore {
		width: 100%;
		background: $bg-light;
	}
}
.modal {
	background-color: #fff;
	.modal-header {
		padding: 7px 10px;
		border-bottom: 1px solid $border-lighter;
		width: 100%;
		h2, h3, h4 {
			display: inline-block;
			margin: 0;
			line-height: 20px;
			font-size: $font-small;
			color: $text-black;
			font-family: $font-semibold;
		}
	}
	.modal-content {
		float: left;
		width: 100%;
	}
	.modal-footer {
		float: left;
		width: 100%;
		background-color: #fff;
		padding: 4px 10px;
		height: 48px;
		//border-top: 1px solid $border-lighter;
		.btn{
			margin: 4px 0;
			&:last-child {
				margin-right: 10px;
			}
		}
	}
	&.modal-medium {
		.modal-content {
			padding: 10px;
		}
	}
}
p {
	font-size: $font-small;
	color: $text-black;	
}
.input-field {
	input[type="text"]{
			font-family: $font-semibold;
			font-size: $font-small;
			color: $text-black;
	}	
}
.non-editable {
	.input-field input[type="text"]{
		&:disabled {
		 	border-bottom-style: dashed;
			+ label {
				color: $text-dark;
			}
		}
	}
  }
.editable {
	position: relative;		
	.btn {
		i {
			font-size: $font-medium;
		}
	}
	.btn-edit {
		position: absolute;
		bottom: 10px;
		right: 0;
		opacity: 0;
		padding: 5px;
		transition: ease 0.2s;
	}
	.btn-save, 
	.btn-cancel {
		position: absolute;
		bottom: -8px;
		right: 0;
		width: 20px;
		transition: ease 0.2s;
		opacity: 0;
		&:hover {
			background: #f2f2f2;
		}
	}
	.btn-save {		
		right: 20px;
	}
	.input-field input[type="text"]{
		&:hover {
			~ .btn-edit {
				opacity: 1;
			}
		}
		~ .btn-edit:hover {
				opacity: 1;
				color: $text-dark;
			}
		&:focus {
			~ .btn-save, 
			~ .btn-cancel {
				opacity: 1;
			}
			~ .btn-edit {
				opacity: 0;
			}
		}
		
	} 
}
.interaction-actions {
	padding-top: 10px!important;
	padding-bottom: 10px!important;
	.interaction-actions__action {
		margin-left: 10px;
		.btn {
			color: $text-info;
		}
	}
}

.dropup-wrapper {
	position: relative;
	.dropdown-button {
		position: relative;
	   &.active {
		&:before {
			content: "";
			border-top: 6px solid #999;
			border-left: 6px solid transparent;
			border-right: 6px solid transparent;
			position: absolute;
			top: -2px;
			left: 50%;
			z-index: 990;
		}
		&:after {
			content: "";
			border-top: 6px solid #fff;
			border-left: 6px solid transparent;
			border-right: 6px solid transparent;
			position: absolute;
			top: -3px;
			left: 50%;
			z-index: 999999;
		}
	  }
	}
	.dropdown-content {
		top: auto!important;
		bottom: 20px;
		width: 150px;
		left: -20px!important;
		
	}
}
.dropdown-wrapper {
	position: relative;
	.dropdown-button {
		position: relative;
	   &.active {
		&:before {
			content: "";
			border-bottom: 6px solid #999;
			border-left: 6px solid transparent;
			border-right: 6px solid transparent;
			position: absolute;
			bottom: -5px;
			left: 50%;
			z-index: 990;
		}
		&:after {
			content: "";
			border-bottom: 6px solid #fff;
			border-left: 6px solid transparent;
			border-right: 6px solid transparent;
			position: absolute;
			bottom: -6px;
			left: 50%;
			z-index: 999999;
		}
	  }
	}
	.dropdown-content {
		border: 1px solid $border-lighter;
		width: 150px;
		margin-top: 10px;
	
	}
}
/*
	Transfer Popup
	*/
.user-listing-to-transfer {
	border: 1px solid $border-light;
	padding: 4px!important;
}
.filter-tag {
			margin: 5px 0;
		li {
			display: inline-block;
			margin-left: 5px;
			.btn {
				background: $white;
				height: auto;
				line-height: 12px;
				font-size: $font-smaller;
				padding: 2px 5px;
				color: $text-light; 
				border-color: $white;
				&.active {
					background: $bg-light;
					border-color: $bg-light;
				}
			}
			&:first-child {
				margin-left: 0;
			}
	}
}









