.pagination {
max-width:145px;
	.page-caunter {
		border:1px solid $border-dark;
		height: 28px;
		line-height: 28px;
		float: left;
		padding: 0 10px;
		color: $text-light;
		font-size: $font-smaller;
	}
	.btn-left-page, .btn-right-page {
		@extend %icon-btn;
		float: left;
	} 
}