
.state-success
{
background-color:$state-success;
}
.state-positive
{
background-color:$state-positive;
}
.state-negative
{
background-color:$state-error;
}
.state-error
{
background-color:$state-error;
}

.state-alert
{
background-color:$state-alert;
}
.state-info
{
background-color:$state-info;
}
