.switch label .lever::after
	{	background-color:$bg-light;
		height: 16px;
		width: 16px;
		top: -2px;
	}
.switch label .lever{
	height: 12px;
	width: 30px;
}
.switch label input[type="checkbox"]:checked + .lever
{
	background-color: lighten($state-positive, 12%);
}
.switch label input[type="checkbox"]:checked + .lever::after
{
	background-color: darken($state-positive, 5%);
}
.switch span
{
	font-size:12px;
}