/* Scss Document */

$font-default: 'OpenSans-Regular';
$font-light: 'OpenSans-Light';
$font-semibold: 'OpenSans-Semibold';

/**
* Color Variables * 
*****************************/
/*
Theme Colors */
$theme-primary-color: #182c4c;
$theme-secondary-color: #11569c;
$theme-action-color: #40a4dc;

/*
Theme Light Colors */
$theme-light-bg: #deeff9;
$theme-lightest-bg: #ecf6fc;

/*
Neutral Colors */
$black: #000;
$darkest-gray: #333;
$dark-gray: #666;
$medium-gray: #999;
$light-gray: #ccc;
$lightest-gray: #f2f2f2;
$white: #fff;

/*
Priority Colors */
$priority-high: #c1272d;
$priority-medium: #f7931e;
$priority-low: #7aae42;

/*
Contextual Colors */
$red: #d40e0e;
$green: #3db54a;

/* page background */
$white-color: #fff;
$bg-dark: $light-gray;
$bg-light: $lightest-gray;
$transparent: transparent;

/*header Background*/
$header-bg: $theme-primary-color;
$header-active-link: #0C3C6E;

/* Text Color */
$text-black: $black;
$text-darker: $darkest-gray;
$text-dark: $dark-gray;
$text-light: $medium-gray;
$text-lighter: $light-gray;
$text-lightest: $lightest-gray;
$text-white: $white;
$text-info: $theme-action-color;
$text-active: $theme-secondary-color;

/*Contextual colors*/
$text-success: $green;
$text-positive:#7aae42;
$text-error:#c1272d;
$text-alert: #f7931e;
$text-primary:#1072ba;
$text-error-dark:#c1272d;
$text-alert-dark:#f7931e;
$text-neutral-dark:#f2ca06;
$text-success-dark:#8cc63f;
$text-disabled-state:#9e9e9e;

/* Buttons Color */
$info-action: #40a4dc;
$primary-action: #1072ba;
$positive-action: #22ae5f;
$negative-action: #f2f2f2;
$end-action: #c1272d;
$active-state-action:#999999;
$link-action:transparent;

/* Border Colors*/
$border-active: $dark-gray;		//#666
$border-dark: $medium-gray;		//#999
$border-light: $light-gray;		//#ccc
$border-lighter: $lightest-gray;	//#f2f2f2

/* Growl Color */
$growl-success: rgba(19,138,54,0.8);
$growl-error: rgba(193,39,54,0.8);
$growl-alert: rgba(247,147,30,0.8);

/* Font Size Growl Icon */
$growl_icon:1.8rem;

/* State Color */
$state-success: #3db54a;
$state-positive:#7aae42;
$state-error: #c1272d;
$state-alert: #f7931e;
$state-info:#40a4dc;

/* Font Size */
$font-larger: 1.286rem;
$font-large: 1.143rem;
$font-medium: 1rem;
$font-small: 0.857rem;
$font-smaller: 0.714rem;

/* Font Size for Icon */
$font-icon-larger: 1.429rem;
$font-icon-large: 1.286rem;
$font-icon-medium: 1.143rem;
$font-icon-small: 1rem;
$font-icon-smaller: 0.857rem;

/*
chat-colors
*/
$chat-active:#0F8BF6;

/*
switch-mode-active
*/
$switch-mode-active:rgb(9,201,87);

/* Date Picker */
$date-picker-header:#C3D9FF;

/*
Available on
*/
$on-mode-color:#00ff00;
$advance-filter-text: $dark-gray;	

/* Button */
$btn-primary-color: $theme-action-color;
$btn-secondary-color: $medium-gray;
$btn-radius: 18px;
$btn-large-height: 32px;
$btn-height: 28px;
$btn-small-height: 24px;
$btn-large-line-height: 30px;
$btn-line-height: 26px;
$btn-small-line-height: 22px;
$btn-large-font: $font-small;
$btn-font: $font-small;
$btn-small-font: $font-icon-smaller;

/* Icon Button */
$icon-btn-radius: 2px;
$icon-btn-large-font: $font-icon-medium;
$icon-btn-font: $font-icon-small;
$icon-btn-small-font: $font-smaller;



