<section class="container">
  <!-- <div style="text-align:center">
    <h1>
    Praestan Health
  </h1>
    <img width="500" alt="Angular Logo" src="../assets/Praestan_Logo_Health.jpg">
  </div> -->

  <div class="row margin-top-3x card-box">
    <div class="col-sm-8 offset-sm-2">
      <div class="card">
        <div class="card-body">
            <h6 class="card-title" style="float:right;"><small>Welcome: John Smith</small></h6>
          <h5 class="card-title">Praestan Health</h5>
          <p class="card-text">Please complete the Health & Wellbeing screen</p>
          <!-- <span>Change Language</span> 
          <div class="btn-group" dropdown>
            <button id="button-basic" dropdownToggle type="button" class="btn btn-warning dropdown-toggle" aria-controls="dropdown-basic">
              {{currentLocale}}
              <span class="caret"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
              <li role="menuitem">
                <a class="dropdown-item" (click)="changeLocale('En-US')">En-US</a>
              </li>
              <li class="divider dropdown-divider"></li>
              <li role="menuitem">
                <a class="dropdown-item" (click)="changeLocale('En-DE')">En-DE</a>
              </li>
            </ul>
          </div>-->

          <button routerLink="/member/dashboard" type="button" style="margin-top:50px; max-width:300px; margin-left: auto;
          margin-right: auto;" class="btn btn-primary btn-lg btn-block">Start Wellbeing Survey</button>

        </div>
      </div>
    </div>
    <!-- <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Go to Dashboard</h5>
          <p class="card-text">We are revolutionizing the “care as usual” assessment and treatment process</p>
          <a routerLink="/member/dashboard" class="btn btn-primary">Dashboard</a>
        </div>
      </div>
    </div> -->
  </div>
</section>