
<h3>
   Appointment List
</h3>

<div style="height:200px; overflow:auto;" #radhe id="radhe"  class="menu" (scroll)="refresh()">
<div  >
<div [class.fixed]="navIsFixed" >
dkhfdj f<br>dkhfdj f<br>dkhfdj f<br>dkhfdj f<br>
dkhfdj f<br>dkhfdj f<br>dkhfdj f<br>dkhfdj f<br>
dkhfdj f<br>dkhfdj f<br>dkhfdj f<br>dkhfdj f<br>
dkhfdj f<br>dkhfdj f<br>dkhfdj f<br>dkhfdj f<br>
dkhfdj f<br>dkhfdj f<br>dkhfdj f<br>dkhfdj f<br>
dkhfdj f<br>dkhfdj f<br>dkhfdj f<br>dkhfdj f<br>
dkhfdj f<br>dkhfdj f<br>dkhfdj f<br>dkhfdj f<br>
dkhfdj f<br>dkhfdj f<br>dkhfdj f<br>dkhfdj f<br>
dkhfdj f<br>dkhfdj f<br>dkhfdj f<br>dkhfdj f<br>
dkhfdj f<br>dkhfdj f<br>dkhfdj f<br>dkhfdj f<br>
dkhfdj f<br>dkhfdj f<br>dkhfdj f<br>dkhfdj f<br>
dkhfdj f<br>dkhfdj f<br>dkhfdj f<br>dkhfdj f<br>
dkhfdj f<br>dkhfdj f<br>dkhfdj f<br>dkhfdj f<br>
dkhfdj f<br>dkhfdj f<br>dkhfdj f<br>dkhfdj f<br>
dkhfdj f<br>dkhfdj f<br>dkhfdj f<br>dkhfdj f<br>
dkhfdj f<br>dkhfdj f<br>dkhfdj f<br>dkhfdj f<br>
</div>
</div>
</div>

<div class="input-group-prepend">
 <span *ngIf="selectedFile" style="clear: both; width: 100%;">{{selectedFile?selectedFile.name:''}} has been attached</span>
              
              
                <div class="group-chat-dropdown">
                  
                  <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput /> 
                  <button mat-menu-item (click)="fileInput.click()">
                    <i class="fas fa-file-upload mr-2"></i> Upload from PC
                  </button>
                
            </div>
			
			<div><br />********<br />
			
			
			  </div>
		 </div>	



<div class='view_appointments records' >
	<div class="row record reocrd-bold">
	<div class="col-md-2">Name</div>
	<div class="col-md-3">Reason</div>
	<div class="col-md-2">Booking Date</div>
	<div class="col-md-2">End Time</div>
	<div class="col-md-2">Action</div>
	</div>
	<div class="nav-container" >

	<div *ngFor='let rowset of records'>	
		<div class="row record" >
				  <div class="col-md-2">{{rowset.username}}</div>
				  <div class="col-md-3">{{rowset.reason}}</div>
				  <div class="col-md-2">{{rowset.booking_date}}</div>
				  <div class="col-md-2">{{rowset.end_time}}</div>
				  
				  <div  class="col-md-1 icon" alt="Edit appointment" title="Edit appointment" id="edit_{{rowset.id}}" ><a class="fa fa-pencil-square-o" aria-hidden="true" routerLink="/updateappointment/{{rowset.id}}">Edit </a></div>
				  
				  <div  class="col-md-1 icon" alt="Cancel appointment" title="Cancel appointment" id="cancel_{{rowset.id}}" ><a class="fa fa-times" aria-hidden="true" (click)="show_delete=true; delete_id=rowset.id;"> Delete  </a></div>
		</div>
		
</div>
	</div>			  
</div> <!-- view_appointments -->

<button (click)="toggle()" id="bt">
    {{buttonName}}
</button>




<div class='press_release popup' *ngIf="show_news">
<h2>Group health Press Release:</h2>
	<div>
	© 2005 - by Rsystems Ltd. All rights reserved.
		<div>
			New version launch by August'2018!
		</div>
	</div>
</div>

<div class='delete_form popup' *ngIf="show_delete">
<h2>Delete Appointment Details</h2>
	<div>
	Are you sure to delete  Appointment No. {{this.delete_id}}?
		<div>
			<button (click)="delete_appointment(this.delete_id)" id="bt_yes">
				Yes 
			</button>
			<button (click)="show_delete=false" id="bt_no">
				No
			</button>
		</div>
	</div>
</div> <!-- appointment_form -->

