<div class='container'>

<div class='header'>
<div class='btn' id='btn_view_appts' onclick="prepare()">View Appointments</div>
<div class='btn' id='btn_book_appt' onclick="book_appointment()">Book Appointment</div>
</div> <!-- header -->

<div class='content'>

		
<div class='view_appointments records' >
	<div class="row record reocrd-bold">
	<div class="col-md-2">Name</div>
	<div class="col-md-3">Reason</div>
	<div class="col-md-2">Booking Date</div>
	<div class="col-md-2">End Time</div>
	</div>
	<div *ngFor='let record of records'>
	<div class="row record" >
				  <div class="col-md-2">{{record.username}}</div>
				  <div class="col-md-3">{{record.reason}}</div>
				  <div class="col-md-2">{{record.booking_date}}</div>
				  <div class="col-md-2">{{record.end_time}}</div>
				  <div  class="col-md-1 icon" alt="Edit appointment" title="Edit appointment" id="{{record.id}}" ><i class="fa fa-pencil-square-o" aria-hidden="true"></i></div>
				  <div  class="col-md-1 icon" alt="Cancel appointment" title="Cancel appointment" id="{{record.id}}" ><i class="fa fa-times" aria-hidden="true"></i></div>
				  </div>
	</div>			  
</div> <!-- view_appointments -->

<div class='appointment_form' >
<h2>Enter Appointment Details</h2>

<form id="request_form" action="#" method="get">

<input type='hidden' id='appointment_id' name='appointment_id' value="">
<div class='row'>
<div class='label'>Full Name</div>
<div class='input_field'><input type='text' id='full_name' name='full_name'></div>
</div> <!-- row -->

<div class='row'>
<div class='label'>Select Date and Time</div>
<div class='input_field'><input type='datetime-local' id='appointment_time' name='appointment_time'></div>
</div> <!-- row -->

<div class='row'>
<div class='label'>Reason of Appointment</div>
<div class='input_field'><textarea rows='9' cols='50' id='appointment_reason' name='appointment_reason'></textarea></div>
</div> <!-- row -->

<div class='row'>
<div class='label'>&nbsp;</div>
<div class='input_field form_update'><input type='button' value='Update' id='btn_update'></div>
<div class='input_field form_submit'><input type='button' value='Submit' id='btn_submit'></div>
</div> <!-- row -->

<div class='row'>
<div class='label'>&nbsp;</div>
<div class='input_field' id='response_container'>&nbsp;</div>
</div> <!-- row -->

</form>

</div> <!-- appointment_form -->


</div> <!-- content -->

</div> <!-- container -->