<header style="background:#fff">
<div class="container">
   <div class="row">
     <div class="col-md-12">
      <div class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="#">
            <img style="max-height:64px" alt="Angular Logo" src="../assets/images/logo.png">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Programs</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Providers</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form> -->
          </div>
        </div>
      </div>
    </div>
</div>
</header>
<section style="background:#edf8fa;padding:0px">

  <div class="container">
      <div class="row">
          <div class="col-md-12">
            <router-outlet>
                
                  <!-- <footer class="footer">
                    <div class="container">
                      <span class="text-muted">Place sticky footer content here.</span>
                    </div>
                  </footer> -->
                </router-outlet>
              </div>
            </div>
  </div>
</section>
<footer style="background:#fff">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                  <div class="navbar navbar-bottom navbar-default" style="text-align:center;">      
                      <p class="navbar-text" style="text-align:center;width:100%;color:#005B7F">
                      © 2018 Praestan Health, LLC. All rights reserved. <span style="color:#888888;font-size:90%;"></span>
                  </p>
              </div>
            </div>
          </div>
    </div>
</footer>