<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    Welcome to {{ title }}!
    <meta name="viewport" content="width=device-width, initial-scale=1" />    
    <style>
        body { padding-top: 60px; }
        .app { display: flex; min-height: 100vh; flex-direction: column; }
        .app-content { flex: 1; }
        .app-footer { padding-bottom: 1em; }
        .zf-green, h2 a { color: #68b604; }
    </style>
	<meta name="Keywords" content="">
	<meta name="description" content="Book Appointment">
</head>
<body class="app">
    
			<app-headerpart></app-headerpart>
			
    <div class="app-content">
        <div class="container">
			<router-outlet></router-outlet>
</div>
    </div>
	
			<app-footerpartpart></app-footerpartpart>
    

    
</body>
</html>


