<div class="dropdown" [ngClass]="{'open active': opened, 'has-error': !isValid()}">
    <div class="input-group form-control form-group fg-line" (click)="toggleDropdown()">
        <span class="input-group-addon"><i class="zmdi zmdi-calendar ma-icon"></i></span>
        <input class="form-control"
               [placeholder]="placeholder"
               [disabled]="disabled"
               [(ngModel)]="formattedDate"
               (ngModelChange)="writeValue($event)"
               [textMask]="{mask: mask}"
               (blur)="onTouched()">
    </div>
    <div class="dropdown-menu" [class.p-b-15]="!showTime" #dropdownMenu>
        <datepicker [(ngModel)]="datepickerModel"
                    (ngModelChange)="showTime ? resetTime() : refreshFormattedDateTime()"
                    [showWeeks]="false"></datepicker>
        <div class="time-container" *ngIf="showTime">
            <timepicker [(ngModel)]="timepickerModel"
                        (ngModelChange)="refreshFormattedDateTime()"
                        [showMeridian]="false"></timepicker>
            <div class="m-b-10">{{timezone}}</div>
        </div>
    </div>
</div>