<h3>
  Update Appointment 
</h3>

<div class='appointment_form' >
<h2>Enter Appointment Details</h2>

<form #newUserForm="ngForm" (ngSubmit)="onSubmit(newUserForm)">

<input type='hidden' id='appointment_id'  [(ngModel)]="appointment_id"  name='appointment_id' value="{{this.appointment_id}}">

<div class='row'>
<div class='label'>Full Name</div>
<div class='input_field '><input type='text' required [(ngModel)]="full_name"  id='full_name' name='full_name' value='{{this.full_name}}'>
<div *ngIf="!full_name.valid && full_name.touched">Full Name is required!</div>
</div>
</div> <!-- row -->

<div class='row'>
<div class='label'>Select Date and Time</div>
<div class='input_field'><input type='text'  [(ngModel)]="appointment_time" id='appointment_time' name='appointment_time' value='{{this.appointment_time | date :  "y-MM-dd hh:mm:ss" }}'></div>

</div> <!-- row -->

<div class='row'>
<div class='label'>Reason of Appointment</div>
<div class='input_field'><textarea rows='9' cols='50' required [(ngModel)]="appointment_reason"  id='appointment_reason' name='appointment_reason' value="{{this.appointment_reason}}"></textarea></div>
<div *ngIf="!appointment_reason.valid && appointment_reason.touched">Reason is required!</div>
</div> <!-- row -->

<div class='row'>
<div class='label'>&nbsp;</div>
<div class='input_field form_update'>
	<button type="submit" [disabled]="!newUserForm.form.valid">
		Update
	</button>

	<button type="button" (click)="newUserForm.reset()">
		Reset
	</button>
</div>
</div> <!-- row -->


</form>

</div> <!-- appointment_form -->