.latest-comment {
  background-color: #03A9F4 !important;
}
.comments {
  margin-top: 20px;
  margin-bottom: 20px;

  .comment-text {
    margin-top: 10px;
    white-space: pre-line;
  }

  li:first-child {
    border-top: 0;
  }

  li.comment {
    padding: 15px 0;
  }
}
