<!-- <section class="container">
    <div class="row margin-top-3x">
        <div class="col-sm-6">
            <div class="card">
                <img class="card-img-top" src="../../../assets/images/generalWellness.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">General Wellness</h5>
                    <p class="card-text">We are revolutionizing the “care as usual” assessment and treatment process</p>
                    <a routerLink="/member/dashboard/questionaire/1" class="btn btn-primary">Attempt Now</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <img class="card-img-top" src="../../../assets/images/bipolar.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Bipolar disorder</h5>
                    <p class="card-text">We are revolutionizing the “care as usual” assessment and treatment process</p>
                    <a routerLink="/member/dashboard/questionaire/1" class="btn btn-primary">Attempt Now</a>
                </div>
            </div>
        </div>
    </div>
</section> -->