<div class="top-bar breadcrumb-row">
    <nav class="breadcrum-nav">
        <ul class="breadcrumb" fxHide.xs>
                <li class="breadcrumb-item"><a style="cursor: text" [routerLink]="">Breadcrumbs </a> </li>
                <!-- <li class="breadcrumb-item"> <a [routerLink]="">Will Go Here</a> </li>
                <li class="breadcrumb-item"> <a [routerLink]="">Need to figure out zero state </a></li> -->
            </ul>
        </nav>
        <div class="right-panel marginL30">
                <input type="text" class="form-control form-control-update" placeholder="Search Here">
        </div>
        <div class="marginL30"> <button mat-button (click)="onClickMenu()" fxHide.xs fxHide.sm> <i class="material-icons">menu </i> </button> </div>
</div>
