  @font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/opensans/OpenSans-Regular.eot');
    src: url('../fonts/opensans/OpenSans-Regular.woff2') format('woff2'),
         url('../fonts/opensans/OpenSans-Regular.woff') format('woff'),
         url('../fonts/opensans/OpenSans-Regular.ttf') format('truetype'),
         url('../fonts/opensans/OpenSans-Regular.svg#OpenSans-Regular') format('svg'),
         url('../fonts/opensans/OpenSans-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'OpenSans-Semibold';
    src: url('../fonts/opensans/OpenSans-Semibold.eot');
    src: url('../fonts/opensans/OpenSans-Semibold.woff2') format('woff2'),
         url('../fonts/opensans/OpenSans-Semibold.woff') format('woff'),
         url('../fonts/opensans/OpenSans-Semibold.ttf') format('truetype'),
         url('../fonts/opensans/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg'),
         url('../fonts/opensans/OpenSans-Semibold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }
  html, body{
  	height: 100%;
  }
  body {
  	font-family: 'OpenSans-Regular';
  	font-size: 14px;
  }
  		  .row {
  			  margin-bottom: 0;
  		   }
  		  .btn {
  			background-color: #fff;
  			color: #808080;
  			border:1px solid #999999;
  			font-size: 12px;
  			border-radius: 18px;
  			box-shadow: none;
  			text-transform: capitalize;
  			height: 24px;
  			line-height: 22px;
  			padding: 0 12px;
        font-family: 'OpenSans-Semibold';
  		  }
  .btn:hover {
      background-color: #fff;
      color: #808080;
      border-color: #999999; }
  .btn:focus {
      background-color: #fff;
      color: #808080;
      border-color: #999999; }
  .btn:active {
      background-color: #fff;
      color: #808080;
      border-color: #999999; }
  .btn.btn-done {
      color: #40a4dc;
      border-color: #40a4dc; }
  .btn.btn-cancel  {
      color: #999;
      border-color: #999; }
      .btn.btn-done:hover {
          box-shadow: inset 0 0 0 1px #40a4dc;
      }
      .btn.btn-cancel:hover {
          border-color: #666;
          color: #666;
          box-shadow: inset 0 0 0 1px #666;
      }
  .btn-group .btn{
  	margin-left: 5px;
  }		  
  		 
  		  .input-field label {
    			  font-size: 10px;
  			  color: #808080;
          left: 0;              
          letter-spacing: 1px;
  		  }
  		  .input-field label.active {
  			  font-size: 10px;
  		  }
  .btn.btn-sendandclose {
    height: 24px;
    line-height: 22px;
    background-color: #40a4dc;
    color: #fff;
    border-color: #40a4dc; 
    
  }
  .btn.disabled, .btn:disabled, .btn.disabled:hover, .disabled.btn-large:hover, .btn-floating.disabled:hover, .btn-large.disabled:hover, .btn:disabled:hover, .btn-large:disabled:hover, .btn-large:disabled:hover, .btn-floating:disabled:hover{
      border-color: #dfdfdf;
      box-shadow: none;
  }
  input:not([type]):focus:not([readonly]) + label, input[type="text"]:focus:not([readonly]) + label, input[type="password"]:focus:not([readonly]) + label, input[type="email"]:focus:not([readonly]) + label, input[type="url"]:focus:not([readonly]) + label, input[type="time"]:focus:not([readonly]) + label, input[type="date"]:focus:not([readonly]) + label, input[type="datetime"]:focus:not([readonly]) + label, input[type="datetime-local"]:focus:not([readonly]) + label, input[type="tel"]:focus:not([readonly]) + label, input[type="number"]:focus:not([readonly]) + label, input[type="search"]:focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
  	  color: #404041;			  
    }
  .input-field input[type=text]:focus,.input-field input[type=password]:focus,.input-field textarea:focus,
  input:focus:not([type]):not([readonly]), input[type="text"]:focus:not([readonly]), input[type="password"]:focus:not([readonly]), input[type="email"]:focus:not([readonly]), input[type="url"]:focus:not([readonly]), input[type="time"]:focus:not([readonly]), input[type="date"]:focus:not([readonly]), input[type="datetime"]:focus:not([readonly]), input[type="datetime-local"]:focus:not([readonly]), input[type="tel"]:focus:not([readonly]), input[type="number"]:focus:not([readonly]), input[type="search"]:focus:not([readonly]) {
       border-bottom: 1px solid #808080;
       box-shadow: none;
     }
  .select-wrapper input.select-dropdown, input:not([type]), input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="time"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="tel"], input[type="number"], input[type="search"] {
      height: 2rem;
  	margin: 8px 0px 10px;
  	border-bottom: 1px solid #ccc;
  	font-size: 12px;
     }
  textarea.materialize-textarea {
  	border: 1px solid #ccc;
  	padding: 5px;
  	font-size: 12px;
  	box-sizing: border-box;
  	max-height: 3rem;
  	overflow-y: auto;
	margin-top: 8px;
  }
  textarea.materialize-textarea:focus:not([readonly]) {
  	 border: 1px solid #808080;
  	box-shadow: none;
  }
  textarea.materialize-textarea + label {
  	left: 0;
    -webkit-transform: translateY(-140%);
     transform: translateY(-140%);
  }
  .input-field .select-wrapper {
  	margin: 8px 0 10px;
  	display: inline-block;
  	width: 100%;
  }
  .input-field .select-wrapper input.select-dropdown {
  	margin: 0;
  }
  .select-wrapper .dropdown-content {
  		width: 100%;
  	}
  .select-wrapper .dropdown-content li{ 
  		min-height: 30px;	
  }
  .select-wrapper .dropdown-content li span{ 
  		padding: 3px 2.5%;
  		font-size: 12px;
  		color: #404041;
  }
  h4 {
  	font-size: 12px;
  	color: #404041;
  }
  .with-gap[type="radio"]:checked + label:after {
    background-color: #40a4dc;
    border-color: #40a4dc; }
  input[type="checkbox"] + label, 
  input[type="radio"]:not(:checked) + label, 
  input[type="radio"]:checked + label {
    font-size: 12px;
    line-height: 24px;
    color: #404041;
    padding-left: 24px;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis; }
  [type="radio"]:not(:checked) + label::before, [type="radio"]:not(:checked) + label::after {
      border: 1px solid #5a5a5a;
  }
  [type="radio"].with-gap:checked + label::after {
      transform: scale(0.6);
  }
  [type="radio"]:checked + label::after, [type="radio"].with-gap:checked + label::before, [type="radio"].with-gap:checked + label::after {

      border: 1px solid #26a69a;

  }
  .select-wrapper span.caret {
      top:0;
      bottom: 0;
      line-height: 2rem;
  }
  .select-wrapper+label {
      top: -5px;
  }
  .no-padding .input-field.col{
        padding: 0;
  }
















