<html>
<%- include partials/head.ejs %>
<body class="app">
<%- include partials/header.ejs %>
<div class="app-content"> 
  
  
<div class='container'>
	<div class='header'>
		<h1> <%= title %> </h1>
	</div> <!-- header -->
	<div class='content'>
		<div class='appointment_form' >
			<h2>Enter Appointment Details</h2>
			<form id="request_form" action="/createappointment" method="post">							
				<div class='row'>
					<div class='label'>Full Name</div>
					<div class='input_field'>
						<input class="require" type='text' id='username' name='username' value="">
					</div>
				</div> <!-- row -->
				<div class='row'>
					<div class='label'>Select Date and Time</div>
					<div class='input_field'>
					<input class="require" type='datetime-local' id='booking_date' name='booking_date' value="">					
					</div>
				</div> <!-- row -->
				<div class='row'>
					<div class='label'>Reason of Appointment</div>
					<div class='input_field'>
						<textarea class="require" rows='9' cols='50' id='reason' name='reason'></textarea>
					</div>
				</div> <!-- row -->
				<div class='row'>
					<div class='label'>&nbsp;</div>
					<div class='input_field form_update'>
						<input type='submit' value='Save' id='btn_update'>
					</div>
				</div> <!-- row -->								
			</form>
		</div> <!-- appointment_form -->
	</div> <!-- content -->
</div> <!-- container -->


</div>
<%- include partials/footer.ejs %>
</body>
</html>