<section class="container">
    <div class="row bg-light">
        <!-- <div class="col-sm-12 col-md-3 col-lg-2 padding-x-zero">
            <div class="list-group list-group-flush">
                <button type="button" class="list-group-item list-group-item-action active">
                    Questionaier
                </button>
                <button type="button" class="list-group-item list-group-item-action">Provider</button>
                <button type="button" class="list-group-item list-group-item-action">My Scales</button>
                <button type="button" class="list-group-item list-group-item-action">Reports</button>
                <button type="button" class="list-group-item list-group-item-action">Statistics</button>
            </div>
        </div>
        <div class="col-sm-12 col-md-9 col-lg-10 padding-x-zero">
            <router-outlet></router-outlet>
        </div> -->
        <div class="col-sm-12 padding-x-zero">
            <router-outlet></router-outlet>
        </div>
    </div>
    
</section>