<mat-card>
    <mat-card-title class="flex m-l-20 m-r-20">
        <h2>{{"applicationManagement" | translate}}
            <!-- <ng-container *ngIf="!readonly">
                <span class="flex-spacer"></span>
                <button class="btn btn-primary btn-lg mat-button pull-right" (click)="openEditDialog()">
                    {{"addApplication" | translate}}
                </button>
            </ng-container> -->
        </h2>

    </mat-card-title>
    <mat-card-content>
        <mat-table [dataSource]="dataSource" matSort class="management-table">
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef>
                    <div mat-sort-header>{{"name" | translate}}</div>
                    <mat-form-field>
                        <input matInput [placeholder]="'filterByName' | translate"
                               ngModel (ngModelChange)="filterBy('name', Operator.CONTAINS, $event)">
                    </mat-form-field>
                </mat-header-cell>
                <mat-cell *matCellDef="let application">{{application.name}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef>
                    <div mat-sort-header>{{"description" | translate}}</div>
                    <mat-form-field>
                        <input matInput [placeholder]="'filterByDescription' | translate"
                               ngModel (ngModelChange)="filterBy('description', Operator.CONTAINS, $event)">
                    </mat-form-field>
                </mat-header-cell>
                <mat-cell *matCellDef="let application">{{application.description}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="url">
                <mat-header-cell *matHeaderCellDef>
                    <div mat-sort-header>URL</div>
                    <mat-form-field>
                        <input matInput [placeholder]="'filterByUrl' | translate"
                               ngModel (ngModelChange)="filterBy('url', Operator.CONTAINS, $event)">
                    </mat-form-field>
                </mat-header-cell>
                <mat-cell *matCellDef="let application">{{application.url}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="horizon">
                <mat-header-cell *matHeaderCellDef>
                    <div mat-sort-header>Horizon</div>
                </mat-header-cell>
                <mat-cell *matCellDef="let application">
                    {{(application.horizon ? "horizon" : "simple") | translate}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="applicationGroups">
                <mat-header-cell *matHeaderCellDef>
                    {{"applicationGroups" | translate}}
                    <dz-autocomplete
                            [searchFunction]="applicationGroupService.appGroupsSearch"
                            [searchPlaceholder]="'nameOrCid' | translate"
                            [placeholder]="'filterByOrgs' | translate"
                            ngModel (ngModelChange)="filterByMultiple('applicationGroups', $event)"
                            [displayWith]="applicationGroupService.applicationGroupToString"
                            [multiple]="true">
                    </dz-autocomplete>
                </mat-header-cell>
                <mat-cell *matCellDef="let application">
                    {{applicationGroupService.applicationGroupsToString(application.applicationGroups)}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="owner">
                <mat-header-cell *matHeaderCellDef>
                    <div mat-sort-header="owner.name">{{"owner" | translate}}</div>
                    <dz-autocomplete *ngIf="!auth.isOrganizationAdmin()"
                                     [searchFunction]="organizationService.organizationsSearchFunction"
                                     [placeholder]="'filterByOwner' | translate"
                                     [searchPlaceholder]="'nameOrCid' | translate"
                                     ngModel
                                     (ngModelChange)="filterBy('owner', Operator.EQUAL, $event?.id)"
                                     [displayWith]="organizationService.organizationToString"
                                     [enableToClear]="true">
                    </dz-autocomplete>
                </mat-header-cell>
                <mat-cell *matCellDef="let application">{{application.owner.name}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let application">
                    <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="application.editable"
                            class="row-menu-button">

                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu" [overlapTrigger]="false">
                        <button mat-menu-item (click)="openEditDialog(application)">
                            {{"edit" | translate}}
                        </button>
                        <button mat-menu-item (click)="confirmDeletion(application,'applicationDeleteConfirmation',{name:application.name})">
                            {{"delete" | translate}}
                        </button>
                    </mat-menu>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columns;"></mat-row>
        </mat-table>
        <mat-paginator #paginator
                       [pageSize]="10"
                       [pageSizeOptions]="[10, 25, 50, 100]"
                       [length]="totalElements">
        </mat-paginator>
    </mat-card-content>
</mat-card>

