<form>
    <section><h2>New order</h2></section>
    <div fxLayout="row wrap" fxLayoutAlign="space-between">
        <section fxFlex="48%">
            <div>
                <section>
                    <label style="display:block">QTY</label>
                    <mat-button-toggle-group >
                        <mat-button-toggle ><mat-icon>minimize</mat-icon></mat-button-toggle>
                        <mat-form-field><input palceholder="'Start Date'" matInput></mat-form-field>
                        <mat-button-toggle><mat-icon>add </mat-icon></mat-button-toggle>
                      </mat-button-toggle-group>
                </section>
                <mat-form-field>
                    <mat-label>Product</mat-label>
                    <mat-select palceholder="'Product'"></mat-select>
                    <mat-error></mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Price</mat-label>
                    <input type="text" matInput>
                    <mat-error></mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Datacenter</mat-label>
                    <mat-select palceholder="'Datacenter'"></mat-select>
                    <mat-error></mat-error>
                </mat-form-field>
            </div>
            <div>
                <button mat-raised-button><mat-icon>add</mat-icon>Add product</button>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Special Notes</mat-label>
                    <textarea matInput placeholder="Special Notes"></textarea>
                </mat-form-field>
            </div>
        </section>
        <section fxFlex="48%">
            Constract-Preview
        </section>
    </div>
</form>
